* {
    margin: 0px;
    padding: 0px;
    text-align: center;
    background-color: #e2e2b6;
}
h1 {
    background-color: #081b38;
    color: white;
    height: 4rem;
    line-height: 3rem;
}

  


#choices {
    display: flex;
    justify-content: center;
    gap: 1rem;
}



#Rock {
    background-image: url("./game/rock.PNG");
    background-size: cover;
}
#Paper {
    background-image: url("./game/paper.PNG");
    background-size: cover;
}
#Scessors {
    background-image: url("./game/seasure.PNG");
    background-size: cover;
}

.choice {
    height: 110px;
    width: 110px;
    border-radius: 50%;
    margin-top: 5rem;

}
.choice:hover {
    cursor: pointer;
    background-color: black;
}

#score-board {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    margin-top: 30px;
    gap: 5rem;
}

#msg-container {
    margin-top: 5rem;
    margin-bottom: 5rem;
}
#msg {
    background-color: #081b38;
    color: white;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

